### TwinCAT3 ###
# website: https://infosys.beckhoff.com/english.php?content=../content/1033/tc3_sourcecontrol/14604066827.html&id=

# TwinCAT PLC
*.bak
*.plcproj.orig
*.tpy
*.tclrs
*.library
*.compiled-library
*.compileinfo
*.asm
*.core
LineIDs.dbg

# TwinCAT C++ and shared types
# ignoring the TMC file is only useful for plain PLC programming
# as soon as shared data types (via tmc), C++ or in general TcCom-Module are used, the TMC file has to be part of the repository
*.tmc
*.tmcRefac

# TwinCAT project files
*.tsproj.b?k
*.tsproj.orig
*.xti.bk?
*.xti.orig
*.xtv
*.xtv.bk?

# Multiuser specific
**/.TcGit/

# exclude not required folders
**/Packages
**/_Boot/
**/_CompileInfo/
**/_Libraries/
**/_ModuleInstall/
**/_Deployment/
**/_Repository/

# VS Shell project specific files and folders
**/.vs/
*.~u
*.project.~u
*.suo